<!DOCTYPE html>
<html>
<head>
	<title>
		Login
	</title>

	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
</head>
<body>
	<div id ="window" style="width: 400px; height: 210px; background: lightgray; border-radius: 10px; padding: 30px; margin-right: auto; margin-left: auto;">
		<form style="margin-left: auto; margin-right: auto;">
			<input style="display: inline-block; width: 350px; height: 35px; font-size: 20px; margin-bottom: 8px;" type="text" id="name" placeholder="Name">
			<input style="display: inline-block; width: 350px; height: 35px; font-size: 20px; margin-bottom: 8px;" type="text" id="email" placeholder="Email">
			<input style="display: inline-block; width: 350px; height: 35px; font-size: 20px; margin-bottom: 8px;" type="text" id="info" placeholder="Your info">
			<input style="display: inline-block; width: 350px; height: 35px; font-size: 20px; margin-bottom: 8px;" type="button" id="btn" value="Отправить">
		</form>
	</div>

	<script>

		$('#btn').on('click',(e)=>{
    		e.preventDefault();

    		var name = $('#name').val();
    		var email = $('#email').val();
    		var info = $('#info').val();
    		
    		var query = 'name='+name+'&&email='+email+'&&info='+info;
    		if(name == '' || email == '' || info == '')
    		{
    			alert("Заполните все поля!");
    		}
    		else
    		{
    			ajaxPost(query,'/');
    		}

		});

		function ajaxPost(params,str)
		{
			//console.log(params);
			var req = new XMLHttpRequest();

			req.onreadystatechange = function(){
				if(req.readyState == 4 && req.status == 200)
				{
					$('html').html(req.responseText);
				}
			}

			req.open('POST',str);
			req.setRequestHeader('Content-Type','application/x-www-form-urlencoded');
			req.send(params);

}
	</script>
</body>
</html>