<!DOCTYPE html>
<html>
<head>
	<title>Ваша информация!</title>
</head>
<body>

	<h2>Мы записали: </h2>
	<br/>
	<p>Имя: <%=name%></p> 
	<p>Email: <%=email%></p> 
	<p>Информация: <%=info%></p>

</body>
</html>