html, body, h1, h2, h3, h4, h5, h6, p, a, div, ul, li, blockquote {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    font-weight: 400;
    color: #ddd;
}

html {
    background-color: #181714;
}
body #wrapper{
    width: 100%;
    background: #333;
    position: relative;
}

/*_____________general style_____________*/
body div img#featureimage{
    width:1000px;
    display:block;
    margin: auto
    
}

h1, h2, h3, h4, h5, h6 {
    text-transform: capitalize;
    font-weight: 700;
    padding-top: 40px;
    padding-bottom: 5px;
}

h1{
    font-size: 2em;
    padding-top: 40px;
    padding-bottom: 5px;
}
h2{
    font-size: 1.6em;
    padding-top: 40px;
    padding-bottom: 5px;
}
h3{
    font-size: 1.15em;
    padding-top: 60px;
    padding-bottom: 5px;
}
h4{
    font-size: 1.05em;
}
p{
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: .9em;
    line-height: 1.5em;
    color: #aaaaaa;
}
b{
    font-weight: 700;
    color: #eeeeee;
}
small{
    font-size: .7em;
}
hr {
    border:1px #444444;
}
img.featureImage{
    padding:5px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
iframe{
    padding-top: 50px;
    margin:auto;
    display:block;  
}

/*________________header___________*/
header{
    height: 190px;
    background: #eeeeee;
    border-top: 11px solid #ef3e36;
}
header .featureImage{
    padding-top: 21px;
    padding-left: 57px;
}

#nav{
    background-color: black;
    border:1px solid #666666;
}

#nav ul li{
    list-style: none;
    float: left;
    margin 0;
}

#nav ul{
    margin:auto;
    width: 710px;
    overflow:auto;
}
#nav ul li a{
    background-color: #939598;
    border: 1px solid #555555;
    width: 140px;
    padding-top: 6px;
    padding-bottom: 6px;
    font-size: .75em;
    display:block;
    text-decoration: none;
    text-align: center;
}
#nav ul li a:hover, #nav ul li a:active{
    background-color: #ef3e36;
    transition: background-color .75s;
}
#nav ul li a.current{
    background-color: #666666;
    cursor:default;
}
/*_________________footer___________*/

footer blockquote{
    text-align: center;
    font-family: Georgia, sans-serif;
    background-color: #444444;
    border-top: 1px solid #aaaaaa;
    font-size: 1.1em;
    color: #cccccc;
    margin-bottom: 20px;
    padding-bottom: 15px;
    padding-top: 15px;
}
footer{
    margin 0;
    text-align: center;
    background-color:#111111;
}

footer div.columnWrapper{
   
    margin:auto;
    width: 930px;
    
}
footer div.columnWrapper div.column{
    display:block;
    float:left;
    width: 180px;
    border-right:2px solid #222222;
}
footer div.columnWrapper div.column1{
    display:block;
    float:left;
    width: 180px;
    padding: 0 0 0 10px;
    border-right:none;
}


footer div.columnWrapper h4 {
    color: #aaaaaa;
    padding-top: 15px;
    padding-bottom: 7px;
}

footer div.columnWrapper div.column1 div.address{
    color: #888888;
    font-size: .75em;
    line-height: 1.6em;}

footer div.columnWrapper div.column div.address{
    color: #888888;
    font-size: .75em;
    line-height: 1.6em;
}

footer div.columnWrapper div.column1 div.address a
{
    color: #888888;
}

footer div.columnWrapper div.column1 div.address a:hover, footer div.columnWrapper div.column1 div.address a:active{
    color: #ef3e36;
    transition: color .5s;
}

footer div.columnWrapper div.column div.address a
{
    color: #888888;
}
footer div.columnWrapper div.column div.address a:hover, footer div.columnWrapper div.column div.address a:active{
    color: #ef3e36;
    transition: color .5s;
}
    
footer div.columnWrapper copyright{
    padding-top: 40px;
    padding-bottom: 10px;
    font-size: .7em;
    color: #555555;
}
/*_____________main section ____________*/
main {
    width:1000px;
    padding-top: 60;
    padding-bottom: 100px;
    margin: auto;
}
/*___________Parallax Way Page________*/
ul.disc {
    padding-top:10px;
    padding-bottom: 10px;
    font-size: .9em;
    line-height: 1.5em;
}
ul.disc li {
    color: #aaaaaa;
}
ul.disc img{
    float:right;
}
/*____________energy holding _____________*/

#map {
    overflow: auto;
    margin-bottom:20px;
    margin-top: 30px}



main div.infoBox {
    width: 940px;
    margin-top: 40px;
    margin-bottom: 40px;
    padding:0 30px 60px 30px;
    background-color: #444444;
}
main div.infoBox h3 {
    margin-bottom: 3px;
    padding-bottom: 4px;
    width: 550px;
    border-bottom: 1px solid #999999
}

main div.infoBox p {
    width: 550px;
    height: 150px;
}

main div.infoBox a:link, main  div.infoBox a:visited {
    
    color: #bbbbbb
}
main div.infoBox a:hover, main  div.infoBox a:active{
    color: #ef3e36;
    transition: color .5s;
}
main div.infoBox img.floatRightImg {
    float: right;  
    overflow: auto;
}

/*_____________about page _____________*/

main table{
    width: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
    border:1px solid #999999;
    background-color: #555555;
}

main table th {
    padding-top: 5px;
    padding-bottom: 8px;
    padding-left: 8px;
    padding-right: 8px;
    background-color: #222222;
    border:1px solid #999999;
    font-size: .9em;
    font-weight: 700;
}
main table th b{
    color: #dddddd;
}
main table td{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 8px;
    padding-left: 8px;
    border: 1px solid #999999;
    font-size: .8em;
}
main table td.even{
    background-color: #666666;
}

main form {
    width: 960px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-top: 5px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid #999999;
}
main form label{
    font-weight: 700;
}
    
main form textarea{
    width: 300px;
    height: 300px;
    padding: 5px;
    background-color: #eeeeee;
    font-size: 1em;
    color: #333333;
    line-height: 1.2em;
}

.subres {
    margin-top: 20px;
    margin-bottom: 30px;
    padding-bottom: 6px;
    padding-top: 6px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: .75em;
    color: white;
    font-weight: 700;
    background-color: #555555;
    border: none;
    cursor: default;
}
.subres:hover{
    background-color: #ef3e36;
    transition: background-color .75s;
}

.floatRightImg{
float:right;}


/*-----------/ASher/-------------*/

#infoList
{
        width: 300px;
        height: wrap-content;
        border-radius: 15px;
        border: 3px solid gray;
        position: absolute;
        z-index: 150;
        background: gray;
        padding: 50px;
        margin-left: 35%;
        margin-right: 35%; 
        margin-top: 100px;
}   

#submit_btn{
    background: blue;
}

.pan{
    width: 250px;
    height: 30px;
    margin-left: 20px;
    margin-bottom: 5px;
    display: block;
    border-radius: 2px; 
    font-size: 20px;
}

#MyWrapper
{
    display: none;
    margin-top: -200px;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0.8);
    z-index: 5;
    position: absolute;
}

#MyList
{
    margin-top: 50px;
    z-index: 10;
    width: 1100px;
    height: wrap-content;
    padding: 30px;
    background: gray;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}

#myTable
{
    width: 1090px;
}

table#myTable tr
{
}
table#myTable td
{
    /*border-top: 1px white dashed;*/
    border-bottom: 1px white dashed;
    width: 80px;
    height: 40px;
    padding: 2px;
    /*background: red;*/
}








