<!Doctype html>
<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
	<link rel="stylesheet" href="static/style.css">
</head>
<body>
	<div id = 'infoList'>
		<%=ans%>
		<form action="/login" enctype="application/x-www-form-urlencoded" method="POST">
			<input placeholder="Login" class="pan" type="text" name="Name" >
			<input placeholder="Password" class="pan" type="password" name="Password">
			<button type="submit" id ="submit_btn" class="pan">Login</button>
		</form>
	</div>
</body>
</html>
