<!doctype html>

 <div id = 'MyWrapper' class="MyList">
	<div id='MyList'>
		<table id = 'myTable'>
			<tr>
				<td>First name</td>
				<td>Last name</td>
				<td>Drilling</td>
				<td>Engineering</td>
				<td>Field Consulting</td>
				<td>File path</td>
				<td>Comments</td>
			</tr>
			<%if(info != null)
			{
				for(var i = 0; i< info.length; i++)
				{%>
				<tr>
					<td><%=info[i].firstname%></td>
					<td><%=info[i].lastname%></td>
					<td>
						<%
						if(info[i].chb_d) {%>
						<strong>Yes</strong>
						<%}else {%><strong>NO</strong> <%}%>
							
					</td>
					<td><%if(info[i].chb_e){%><strong>Yes</strong><%} else {%><strong>NO</strong> <%}%></td>
					<td><%if(info[i].chb_fc){%><strong>Yes</strong><%} else {%><strong>NO</strong> <%}%></td>
					<td><%=info[i].path%></td>
					<td><%=info[i].comments%></td>
				</tr>
				<%}
			}%>
		</table>
	</div>
</div>

<script type="text/javascript" src="static/scriptforlist.js"></script>